@font-face {
    font-family: 'Vultura';
    src: url('https://d1e1jt2fj4r8r.cloudfront.net/fonts/Vultura/Vultura-Regular.woff2') format('woff2'),
         url('https://d1e1jt2fj4r8r.cloudfront.net/fonts/Vultura/Vultura-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  :root {
    --global-primary-font-family: Vultura, serif;
  }
  

  .inventario-container {
    margin-top: 70px;
    max-height: 400px;  
    padding-top:500px;
    min-width: 500px;
    user-select: none;
    border: 2px solid #BC5D2E;
    background-color: white;
    margin-bottom: 10px;
  }
  .create-inventario-button {
      margin-top: 10px;
      max-width: 500px;
      justify-content: center;
      align-items: center;
      margin: auto;
      place-items: center;
  }
  .bottom-section svg:hover {
    background-color: #BC5D2E;
  }
  