html, body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkgray;
}

div.container-fluid{
  background-color:lightgray;
  border: 2px solid;
  width: 95%;
  border-radius: 5px;
  margin-top: 15px;
  
} 
