
  

  .inventario-container {
    margin-top: 70px;
    max-height: 400px;  
    padding-top:500px;
    min-width: 500px;
    user-select: none;
    border: 2px solid #BC5D2E;
    background-color: white;
    margin-bottom: 10px;
  }
  .create-inventario-button {
      margin-top: 10px;
      max-width: 500px;
      justify-content: center;
      align-items: center;
      margin: auto;
      place-items: center;
  }
.modal-content{
  background-color: #eeeeee!important;
}
.modal-body {
  border: 1px solid #BC5D2E;
  position: relative;
    flex: 1 1 auto;
    margin:5px;
    border-radius: 10px;
    background: #eeeeee;
}
.modal-header {
  border-bottom: 1px solid #eeeeee;
}

.modal-header{
  background-color: #eeeeee;
  color: #1a1a1a;
}
.modal-footer{
  background-color: #eeeeee;
  justify-content: center!important;
}
.close{
  border-radius: 0px;
}
.close:hover{
  border-color: #BC5D2E;
  background-color: #BC5D2E;
  color:#fff;
} 
.btn-primary {
  color: #fff;
  background-color: #000!important;
  border-color: #000!important;
  border-radius: 0px!important;
}
.btn-primary:hover{
  color: #000!important;
  background-color: #fff!important;
  border-color: #000!important;
}
